<div class="container mt-5">
  <h1 class="text-center">Lista de Usuarios</h1>
  <ul class="list-group">
    <li *ngFor="let usuario of usuarios" class="list-group-item d-flex justify-content-between align-items-center">
      <div>
        <strong>ID: {{ usuario.id }}</strong> - {{ usuario.nombre }} - {{ usuario.email }} - Empresa: {{ usuario.empresa }}
      </div>
      <div>
        <button class="btn btn-warning btn-sm me-2" (click)="seleccionarUsuario(usuario)">Modificar</button>
        <button class="btn btn-danger btn-sm" (click)="eliminarUsuario(usuario.id)">Eliminar</button>
      </div>
    </li>
  </ul>

  <h2 class="mt-4">Agregar Usuario</h2>
  <form (ngSubmit)="agregarUsuario()">
    <div class="mb-3">
      <label for="nombre" class="form-label">Nombre</label>
      <input type="text" [(ngModel)]="nuevoUsuario.nombre" name="nombre" class="form-control" id="nombre" required>
    </div>
    <div class="mb-3">
      <label for="email" class="form-label">Email</label>
      <input type="email" [(ngModel)]="nuevoUsuario.email" name="email" class="form-control" id="email" required>
    </div>
    <div class="mb-3">
      <label for="empresa" class="form-label">Empresa</label>
      <input type="text" [(ngModel)]="nuevoUsuario.empresa" name="empresa" class="form-control" id="empresa" required>
    </div>
    <button type="submit" class="btn btn-primary">Agregar Usuario</button>
  </form>

  <h2 class="mt-4">Modificar Usuario</h2>
  <div *ngIf="usuarioModificar" class="mt-3">
    <form (ngSubmit)="modificarUsuario()">
      <div class="mb-3">
        <label for="modificarNombre" class="form-label">Nombre</label>
        <input type="text" [(ngModel)]="usuarioModificar.nombre" name="modificarNombre" class="form-control" id="modificarNombre" required>
      </div>
      <div class="mb-3">
        <label for="modificarEmail" class="form-label">Email</label>
        <input type="email" [(ngModel)]="usuarioModificar.email" name="modificarEmail" class="form-control" id="modificarEmail" required>
      </div>
      <div class="mb-3">
        <label for="modificarEmpresa" class="form-label">Empresa</label>
        <input type="text" [(ngModel)]="usuarioModificar.empresa" name="modificarEmpresa" class="form-control" id="modificarEmpresa" required>
      </div>
      <button type="submit" class="btn btn-success">Guardar Cambios</button>
      <button type="button" class="btn btn-secondary" (click)="limpiarSeleccion()">Cancelar</button>
    </form>
  </div>
</div>